<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${id})}" th:object="${ratingDTO}" method="post"
			  class="form-horizontal" style="width: 100%">

			<div class="form-group">
				<label for="moodysRating" class="col-form-label">moodysRating</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{moodysRating}" type="text" class="form-control" id="moodysRating" th:placeholder="${ratingDTO.moodysRating}" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{moodysRating}"> </span>
					</div>
				</div>

			</div>

			<div class="form-group">
				<label for="sandPRating" class="col-form-label">sandPRating</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{sandPRating}" type="text" class="form-control" id="sandPRating" th:placeholder="${ratingDTO.sandPRating}" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{sandPRating}"> </span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="fitchRating" class="col-form-label">fitchRating</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{fitchRating}" type="text" class="form-control" id="fitchRating" th:placeholder="${ratingDTO.fitchRating}" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{fitchRating}"> </span>
					</div>
				</div>

			</div>
			<div class="form-group">
				<label for="orderNumber" class="col-form-label">orderNumber</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{orderNumber}" type="number" class="form-control" id="orderNumber" th:placeholder="${ratingDTO.orderNumber}" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{orderNumber}"> </span>
					</div>
				</div>

			</div>



			<!-- Buttons action -->
			<div class="form-group" style="margin-top: 20px">
				<div class="col-md-8">
					<a class="btn btn-danger" th:href="@{rating/list}" >Cancel</a>
					<input class="btn btn-primary" type="submit" value="Update Rating">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>