<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidListDTO}" method="post"
			  class="form-horizontal" style="width: 100%">

			<div class="form-group">
				<label for="account" class="col-form-label">Account</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{account}" type="text" class="form-control" id="account" placeholder="Account" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{account}"> </span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="type" class="col-form-label">Type</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{type}" type="text" class="form-control" id="type" placeholder="Type" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{type}"> </span>
					</div>
				</div>

			</div>

			<div class="form-group">
				<label for="bidQuantity" class="col-form-label">Bid quantity</label>
				<div class="col-md-8">
					<div>
						<input th:field="*{bidQuantity}" type=number step="0.1" class="form-control" id="bidQuantity" placeholder="Bid quantity" >
					</div>
					<div>
						<span class="text-danger" th:errors="*{bidQuantity}"> </span>
					</div>
				</div>
			</div>
			<!-- Buttons action -->
			<div class="form-group" style="margin-top: 20px">
				<div class="col-md-8">
					<a class="btn btn-danger" th:href="@{bidList/list}" >Cancel</a>
					<input class="btn btn-primary" type="submit" value="Add BidList">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>